{% load static %}
{% load bootstrap4 %}
{% bootstrap_css %}
</head>
{% block content %}
<p>
  <p>
    <p>

      <table class ="table">



        {%for Kinders in Kinders_list%}
        <tr>
          <td>  {{Kinders.class_name}}  </td>

      <td><a href ="{%url 'detail_view' Kinder.id %}"> Detail </a> </td>


              {%endfor%}
              </table>

<table class="table">
  <thead>
      <tr>
<th scope="col">teacher</th>

<th scope="col">class_name</th>
<th scope="col">group_number</th>
<th scope="col">number_of_students_involved</th>
    </tr>
</thead>

<tbody>
    <tr>
    <td>{{ object.teacher }}</td>

    <td>{{ object.class_name }}</td>
    <td>{{ object.group_number }}</td>
    <td>{{ object.number_of_students_involved }}</td>


    </tbody>
    </table>
{%endblock%}
{% bootstrap_javascript jquery='full' %}

<form method ="POST">
  {%csrf_token%}
  {{form.as_p}}
<a class="btn btn-primary" href="/">Go back</a>  </form>
