{% load static %}
{% load bootstrap4 %}
{% bootstrap_css %}
</head>
{% block content %}
<p>
  <p>
    <p>

<table class="table">
  <thead>
      <tr>
<th scope="col">Padres</th>
<th scope="col">hijo</th>

    </tr>
</thead>

<tbody>
    <tr>
    <td>{{ object.nombre }}</td>
    <td>{{ object.hijo }}</td>



    </tbody>
    </table>

    <form method ="POST">
      {%csrf_token%}
      {{form.as_p}}
    <a class="btn btn-primary" href="/">Go back</a>  </form>
{%endblock%}
{% bootstrap_javascript jquery='full' %}
